html {
    overflow-y: scroll;
}

body {
    background-image: url("/img/background.png");   
    background-repeat: repeat;
}

html,
body {
  height: 100%;
}

.clear-divs {
    clear:  both;
}

/* Navigation Bar overrides */
.navbar {
    margin-bottom: 0 !important;
}

.navbar-inner {
    background-image: url("/img/background-navigation.png");   
    background-repeat: repeat-x;
    height: 53px !important; 
    border: none !important;
}

.nav {
    margin-top:  4px !important;    
}

.nav a {
    color:  white !important;    
}

.logo {
    margin-top: 6px !important;
}

.logo img {
    height:  44px !important;    
}

#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}
/*
.element {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 1.2em;
      -moz-border-radius-topright: 1.2em;
          border-top-right-radius: 1.2em;
}
*/

.element {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 1.2em;
      -moz-border-radius-topright: 1.2em;
          border-top-right-radius: 1.2em;
    width: 60%;   
}


/*NEED TO CHANGE SIZES TO BE  1x1, 1x2, 2x1, or 2x2 in size BASED ON THE PIC OF THE GIRL.*/

.photos .photo {
  width: 220px;
  margin: 5px;
  float: left;
}

.photos .photo img {
  display: block;
  width: 100%;
}

.demos #content {
  height: 100%;
}





.element.size1x1{
    height: 170px;
}

.size1x1 img{
    height: 170px;    
}

.element.size1x2{
    height: 170px; 
    width: 350px;
    overflow: hidden;
}

.size1x2 img{
    height: 230px; 
    width: 350px;
    margin: -20px 0;   
}

.element.size2x1{
    height: 350px; 
    width: 170px;
    overflow:  hidden;
}

.size2x1 img{
    height: 350px;
    width: 230px;
    margin: 0 -20px
}

.element.size2x2{
    height: 350px; 
    width: 350px;    
}

.size2x2 img{
    height: 350px; 
    width: 350px;    
}

.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
/**/

.element * {
  position: absolute;
  margin: 0;
}




/*
    
.element.size1x1{
    height: 170px; 
    width: 170px;   
}

.size1x1 img{
    height: 170px; 
    width: 170px;      
}

.element.size1x2{
    height: 170px; 
    width: 350px;
    overflow: hidden;
}

.size1x2 img{
    height: 230px; 
    width: 350px;
    margin: -20px 0;   
}

.element.size2x1{
    height: 350px; 
    width: 170px;
    overflow:  hidden;
}

.size2x1 img{
    height: 350px;
    width: 230px;
    margin: 0 -20px
}

.element.size2x2{
    height: 350px; 
    width: 350px;    
}

.size2x2 img{
    height: 350px; 
    width: 350px;    
}

*/